body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(212, 128, 50);
    font-family: 'Courier New', Courier, monospace;
}

.calculator {
    border: 8px solid rgb(0, 0, 0);
    height: 450px;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}

.display {
    color: 	rgb(0, 0, 0);
    flex: 1;
    height: 5px;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 40px;
    width: 100%;
    background-color: rgb(152, 152, 152);
}

.button-container {
    display: flex;
    gap: 2px; 
}

button {
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    padding: 25px;
    width: calc(100% / 4);
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    flex: 1;
}

.vivid-gambage-buttons {
    background-color:  #FF9500;
}

.dark-liver-buttons {
    background-color: #505050;
}

.light-gray,
.dark-liver-buttons,
.vivid-gambage-buttons {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
}


.light-gray:active,
.dark-liver-buttons:active,
.vivid-gambage-buttons:active {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    background: rgb(182, 182, 182);
}

.light-gray {
    background-color: #D4D4D2;
    color: rgb(0, 0, 0);
}

.zero {
    flex: 4.2;
}

.op:focus {
    background-color: white;
    color: orange;
}